body{
  font-family: 'Poppins', sans-serif;
  background:rgb(222, 221, 221);
}
.custom-placeholder-color::placeholder {
  color: rgb(134, 133, 133) !important;
}
.custom-placeholder-color::-webkit-input-placeholder {
  color: rgb(134, 133, 133) !important;
}
.custom-placeholder-color::-ms-input-placeholder {
  color: rgb(134, 133, 133) !important;
}
.cstModalBorderTop{
  border-top:1px solid #aeaeae;
  border-left:1px solid #aeaeae;
  border-right:1px solid #aeaeae;
}
.cstModalBorderBody{
  border-left:1px solid #aeaeae;
  border-right:1px solid #aeaeae;
}
.cstModalBorderFooter{
  border-left:1px solid #aeaeae;
  border-right:1px solid #aeaeae;
  border-bottom:1px solid #aeaeae;
}
.headerColor{
  color: #f7ff05;
}
.customDanger{
  background:#490d0d;
  border:1px solid #d52121;
  color:rgb(234, 230, 230);
}
.cstAlertHeading{
  font-size: 16px;
  letter-spacing: 2px;
}
.myLink{
  text-decoration: none;
  color:#7b7979;
  font-size:15px;
  font-family: 'PT Sans', sans-serif;
}
.mySubLink{
  color: #326bf1;
}
.myLinkHeading{
  text-decoration: none;
  color:#128a88;
  font-family: 'PT Sans', sans-serif;
}
.prodTitle{
  font-weight:bold;
}
small{
  font-size:11px;
}
.shad{
  box-shadow:2px 2px 7px rgba(0, 0, 0, .3);
}
.shad2{
  box-shadow:0px 2px 2px rgba(0, 0, 0, .3);
}
.cursor{
  cursor: pointer;
}
.profileOption{
  color:rgb(47, 46, 46);
  font-size:14px;
}
.red{
  color:rgb(184, 55, 55);
}
.productCard{
  border:1px solid #aeaeae;
}
.productCard:hover{
  border-left:2px solid red;
  border-right:2px solid red;
}
.innerBaseThree{
  background: #434949;
}
.cstHeightCardDescriptionProduct{
  height:50px;
  overflow:hidden;
}
.borderRed1{
  border:1px solid #813737;
}
.borderRed2{
  border:1px solid #813737;
}
.cstBtnTWx{
  position:fixed;
  right:20px;
  bottom:20px;
}
.white{
  color:white;
}
.avatarIMG{
  width:30px;
  height:30px;
}
.padding17{
  padding:17px;
}
.bg-body-tertiary.text-dark::placeholder {
  color: #333; /* Change to your desired light mode color */
}
/* Dark mode placeholder color */
.bg-dark.bg-gradient.text-white::placeholder {
  color: #ccc; /* Change to your desired dark mode color */
}
.cstTab{
  padding:5px;
  padding-left:10px;
  border-radius:0px;
}
.borderBottom{
  border-bottom:1px solid #aeaeae;
}
.borderErr{
  border:1px solid #fa1f1f;
}
.cstCardBody1{
  padding:5px;
  padding-top:15px;
  border-radius:5px;
  box-shadow:0px 1px 3px rgba(0, 0, 0, .3);
}
.cstTabContent1{
  background:#d5d2d2;
  padding:5px;
  border-radius: 5px;
  box-shadow:0px 1px 3px rgba(0, 0, 0, .3);
}
.cstSpan{
  width: 150px;
  display:inline-block;
}

/* Loading section          #############################################################################################################
#########################################################################################################################################
######################################################################################################################################### */  
.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text {
  width: 100%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}
.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}


/* Animations          #############################################################################################################
#########################################################################################################################################
######################################################################################################################################### */  

.animated { 
  background-repeat: no-repeat;
  background-position: left top; 
  padding-top:95px;
  margin-bottom:60px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}
.animated2 { 
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-15px);} 
}

.bounce { 
  -webkit-animation-name: bounce; 
  animation-name: bounce; 
}
